.form__select p {
  margin-bottom: 16px;
  color: var(--neutral-dark-grayish-cyan);
}

.form__select ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media screen and (min-width: 1200px) {
  .form__select ul {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 16px;
    column-gap: 14px;
  }
}