.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 48px;
  background: var(--neutral-light-grayish-cyan);
}

@media screen and (min-width: 1200px) {
  .main {
    height: 100vh;
    justify-content: center;
    gap: 88px;
  }
}